# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
CakeDay/settings.py
/media/
staticfiles/

# Virtual env
.env
vSrt/
vSrt3/
venv/
ENV/
env/
myvirt/
# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store